# everything
/*
# but not gitignore
!.gitignore
# add license
!LICENSE.MD
# and not config dir
!/config

#those can be regenerated
config/worldedit
config/recipes
config/falsetweaks_userspecific.cfg
config/InvTweaks.cfg
config/splash.properties
config/worldedit/worldedit.properties
